<h2>New Group</h2>
<form action="/groups" method="post">
  <label>
    Name:
    <input type="text" name="name" placeholder="Group name" required autofocus>
  </label>
  <button>Create group</button>
</form>
