<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Animals</title>
    <link rel=stylesheet href="/css/animals.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/animals">All animals</a>
        <a href="/groups">All groups</a>
        |
        <a href="/groups/new">New group</a>
      </nav>
      <h1>Animals</h1>
      <%= yield %>
    </div>
  </body>
</html>
