
<h1>Paper/Rock/Scissors</h1>
<p>Pick one of the options below</p>

<ul>
  <li><a href="/rock_paper_scissors/rock">Rock</a></li>
  <li><a href="/rock_paper_scissors/paper">Paper</a></li>
  <li><a href="/rock_paper_scissors/scissors">Scissors</a></li>
</ul>