<h1>BOOKS</h1>

<form action="/result">
  <label>
    Title:
    <input type="string" placeholder="Enter the title..." name="title" required>
  </label>
  <button>Let me see the cover!</button>
</form>
