<h1>All Mountains</h1>
<div class="content">
  <% @mountains.each do |mountain| %>
  <div class="square">
    <%= image_tag mountain.image, :class => 'image'%>
    <ul>
      <li>Name: <%= link_to mountain.name, mountain_path(mountain.id) %></li>
      <li>Country: <%= mountain.country %></li>
      <li>City: <%= mountain.city %></li>
    </ul>
    </div>
<% end %>
  </div>
