<h2>List of currencies of the world by countries</h2>

<% @currencies.each do |currency| %>
  <p>
    <a href="/currencies/<%= currency["id"] %>">
      <%= currency["country"] %>
    </a>
  </p>
<% end %>