<h2>New Currencies</h2>

<form action="/currencies" method="post">
  <label>
    Country:
    <input type="text" name="country" placeholder="Country" required autofocus>
  </label>
  <label>
    Currency:
    <input type="text" name="name" placeholder="Currency name">
  </label>
  <label>
    Image:
    <input type="url" name="image" placeholder="http://...">
  </label>
  <button>Create currency!</button>
</form>
