<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>World Currencies</title>
    <link rel=stylesheet href="/css/world_currency.css">
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="/currencies">List of currencies of the world</a>
        <a href="/currency/new">New currency</a>
      </nav>
      <h1>World Currencies</h1>
      <%= yield %>
    </div>
  </body>
</html>
